{% extends 'base.html.twig' %}

{% block title %}ERREUR
{% endblock %}

{% block navbarlists %}{% endblock %}

{% block main2 %}
<div class="erreur">

	<h4 style="margin-bottom:4%;text-align:center;color:#3D6A9E">ERREUR 403</h4>


	<pre style="line-height: 1.3; text-align:center">
  \          Desolé           /
  \                         /
  \    VOUS N'AVEZ PAS    /
      ]   LES DROITS !!     [    
     ]                     [   
   ]___               ___[ 
   ]  ]\             /[  [ 
   ]  ] \           / [  [ 
   ]  ]  ]         [  [  [ 
   ]  ]  ]__     __[  [  [ 
   ]  ]  ] ]\ _ /[ [  [  [ 
   ]  ]  ] ] (#) [ [  [  [ 
   ]  ]  ]_].nHn.[_[  [  [
   ]  ]  ]  HHHHH. [  [  [
   ]  ] /   `HH("N  \ [  [
   ]__]/     HHH  "  \[__[
   ]         NNN         [
   ]         N/"         [
   ]         N H         [
  /          N            \
  /           q,            \
  /                           \
</pre>
	<button class='btn' style="background-color:#CBC6C5; margin-top:3%;margin-left:48%;color:#3D6A9E " onclick="history.back()">Retour</button>
	</div>
{% endblock %}
